@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Azeret Mono";
}

html {
  background-color: black;
}

main {
  width: 400px;
  height: max-content;
}

header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p,
label {
  color: white;
}

form {
  margin-top: 10px;
  text-align: center;
}

input {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

button {
  border-radius: 5px;
  background-color: white;
}

button:hover {
  filter: brightness(80%);
}

section {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
